# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- Create a Jupyter Notebook
- List popular languages for Data Science
- How to insert code and markdown cell
- Share your notebook through GitHub

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn
5. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook          |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

```python
2 + 2
3 * 6
4 - 7 / 4

In [19]:
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60

def min_hr(m):
    return m/60

min_hr(200)

3.3333333333333335

## Author
-Habibu Ahmad